---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="For mental health"
    actions={}
  >
    <Fragment slot="title">
      Transforming <span class="hidden sm:inline">mental health</span><br />  
      with <span
        class="text-accent dark:text-white">AI-driven</span> and clinically validated methods
    </Fragment>

    <Fragment slot="subtitle">
      Empower lives with <span class="font-semibold">digital therapeutics</span> that merge the science of behavior change and the precision of AI. 
      
    </Fragment>


  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="About us"
    subtitle="We’re building the future of mental health care—grounded in science, powered by AI, and guided by empathy. Our mission is to make evidence-based behavioral support more accessible through intelligent, personalized digital therapeutics. From clinical insights to design systems, we bring together interdisciplinary expertise to support individuals and scale impact."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="See our impact in digital mental health"
    subtitle="We are committed to evidence-based care and measurable outcomes—powering the next generation of behavioral support through digital innovation."
    stats={[
      { title: 'Software as a Medical Device', amount: 'SamD' },
      { title: 'Digital Mental Health Treatment', amount: 'DMHT' },
      { title: 'Trials', amount: 'Clinical' },
      { title: 'Clearance', amount: 'FDA' },
    ]}
  />

  <!-- Brands Widget ****************** -->

  

  <!-- Features2 Widget ************** -->

  <!--Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Installation Instructions',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2-->

  <!-- Features Widget *************** -->

  

  <!-- Features3 Widget ************** -->

  

  <!-- CallToAction Widget *********** -->

 
</Layout>
